Package: admin-center-llx-bootmanager
Source: llx-bootmanager
Version: 0.3.15
Architecture: all
Maintainer: LliureX Team <lliurex@gva.es>
Installed-Size: 333
Depends: admin-center
Section: misc
Priority: optional
Description: LliureX BootManager Module For Admin Center.
 Network Boot Manager basesystem
 for LliureX environments. (admin-center module)
