Package: llx-bootmanager
Version: 0.3.15
Architecture: all
Maintainer: LliureX Team <lliurex@gva.es>
Installed-Size: 642
Depends: php7.2-cli, apache2, libapache2-mod-php7.2, n4d-lliurex-base (>= 0.6)
Breaks: lmd-server (<< 2.0)
Replaces: lmd-server (<< 2.0)
Section: misc
Priority: optional
Description: LliureX Boot Manager
 Network Boot Manager basesystem
 for LliureX environments.
