Source: llx-bootmanager
Section: misc
Priority: optional
Maintainer: LliureX Team <lliurex@gva.es>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.9.7

Package: llx-bootmanager
Depends: ${misc:Depends}, php-cli, apache2, libapache2-mod-php, python3-n4d, ipxe ( >= 1.21.1 ), grub-ipxe ( >= 1.21.1 ), syslinux-efi ( >= 6.04~git20190206 ), pxelinux ( >= 6.04~git20190206 ), syslinux-common ( >= 6.04~git20190206 ), memtest86+, grub-efi-amd64-signed, grub-efi-amd64-bin
Replaces: lmd-server(<<2.0)
Breaks: lmd-server(<<2.0)
Architecture: all
Description: LliureX Boot Manager
 Network Boot Manager basesystem 
 for LliureX environments.
 .

Package: admin-center-llx-bootmanager
Architecture: all 
Depends: ${shlibs:Depends}, ${misc:Depends}, admin-center
Description: LliureX BootManager Module For Admin Center.
 Network Boot Manager basesystem
 for LliureX environments. (admin-center module)
 .

